@import "reset";

* {
  box-sizing: border-box;
}
body {
  background-color: rgb(146, 146, 134);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.externo {
  box-shadow: 0 2px 15px;
  outline: solid 3px rgba(65, 63, 63, 0.438);
  background-color: rgba(88, 87, 87, 0.753);
  width: 36em;
  height: 36em;
  margin: auto;
  margin-top: 2em;
  padding: 1em;
  .colum {
    position: relative;
    display: flex;
    top: -34em;
    left: 1em;
    flex-direction: column;
  }
  .numbers-up {
    color: white;
    display: flex;
    justify-content: space-around;
  }
  .numbers-down {
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: auto;
  }
  .letters {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    color: rgb(245, 246, 250);
  }
}
.container {
  top: -34em;
  left: 1em;
  background-color: rgb(23, 24, 24);
  width: 32em;
  height: 32em;
  display: flex;
  flex-wrap: wrap;

  div {
    outline: solid 1px rgba(34, 33, 33, 0.164);
    width: 4em;
    height: 4em;
    border: solid rgba(124, 123, 123, 0.589) 1px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    &.red {
      background-color: rgba(0, 255, 115, 0.466);
    }
    &.white {
      background-color: rgba(230, 232, 233, 0.993);
    }
  }
}
